*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
	background: #000;
	color: #505050;
	font: 14px 'Programme', sans-serif;
	font-weight: 300;
	margin:0;
	padding: 0;
	min-height: 100%;
  min-width: 100%;
	outline:0;
	border:0;
	vertical-align:baseline;
	line-height:1;
}

.full{
	height: 100%;
	min-height: 100%;
}

.header {
	background: #efefef;
	padding: 0;
}

h1 {
	color: #f0f0f0;
	font-size: 48px;
	font-weight: 300;
	margin: 0;
	padding: 15px 15px 15px 0;
}

h2, h3 {
	color: #f0f0f0;
	font-size: 38px;
	font-weight: 300;
	margin: 0;
	padding: 25px 15px 25px 0;
}

.main {
	padding: 5px 30px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 20px;
}

li {
	padding: 4px 0;
}

a {
	color: #267cb2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.img-thumbnail {
  display: inline-block;
  margin-bottom: 30px;
}

.responsive-video {
max-width: 100%;
height: auto;
}

.glyphicon-arrow-left {
	font-size: 1em;
}

.btn {
	line-height: 1em;
}

.back-btn {
	margin-top: 30px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
